.email-mark-analysis{
    display: flex;
    justify-content: space-around;
}

.email-mark-analysis-info{
    display: flex;
}

.email-mark-analysis-info-stats{
    font-weight: 600;
    margin-left: 20px;
}
.ad-analysisi-title{
    margin-top: 35px;
}

.pie-chart-target-cont {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 300px;
  }
  
  .target-pie{
    width: 500px;
    
  }


  .target-pie p, .target-pie{
    margin: 10;
  }
  .target-description {
    height: fit-content;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    margin-left: 10px;
    flex: 1;
    font-size: 16px;
    text-align: left; 
  }

  .target-description-title{
    font-weight: 600;
  }

  .bar-chart-ad-cont{
    margin-top: 40px;
  }
  
  

  

  